.styleJumbo {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .styleJumbo::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  }
  
  .styleJumbo * {
    position: relative;
    z-index: 2;
  }
  
  .styleJumbo h1, .styleJumbo h2 {
    color: white;
  }
  
  .styleJumbo h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  }
  